name: Validate pr title

on:
  pull_request:
    types: [edited, opened, reopened]

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v6

      - name: 'Install pnpm'
        id: pnpm-setup
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: codfish/actions/setup-node-and-install@v2

      - name: install commitlint deps
        run: pnpm add @commitlint/{cli,config-angular}

      # todo: loosen restrictions set in @commitlint/config-angular to allow for more flexibility
      - name: create commitlint config without yaml errors
        run: |
          echo "module.exports = {extends: ['@commitlint/config-angular']}" > commitlint.config.js

      - name: Validate PR title
        run: |
          echo "${{ github.event.pull_request.title }}" | npx -y --no commitlint
